#proyectos {
    padding: 100px 15px;
    text-align: center;
    background-color: #42464826;
}

#proyectos .titulo-seccion {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
    padding-block: 1rem;
    font-size: 3rem;
}

#proyectos .fila {
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: 30px auto;
}

#proyectos .fila .proyectos {
    max-width: 600px;
    background-color: #d9d9d9cc;
    padding: 0 0 45px 0;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#proyectos .fila .proyectos:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#proyectos .fila .proyectos .icono {
    display: inline-block;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    padding: 0 0 20px 0;
}

#proyectos .fila .proyectos .icono img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

#proyectos .fila .proyectos h2 {
    font-size: 1.3rem;
    margin: 2px 25px
}

#proyectos .fila .proyectos p {
    margin: 25px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

#proyectos .fila .proyectos .btn {
    padding: 5px;
    margin: 0 0 10px 0;
}

#proyectos .fila .proyectos .btn button {
    margin: 0 5px 10px 5px;
    border-radius: 20px;
    background: #F0f0f0;
    border: 1px solid #919191;
    cursor: pointer;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    text-transform: uppercase;
    transition: all 1s ease;
    padding: 6px 5px;
}

#proyectos .fila .proyectos .btn button:hover {
    box-shadow: 2px 2px 5px #919191, -2px -2px 5px #919191;
} 

#proyectos .fila .proyectos .btn button a {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 20px;
    margin: 0;
}

#proyectos .fila .proyectos .btn button a:hover {
    color: #937efe;
}

@media screen and (max-width: 800px) {
    #proyectos .fila {
        flex-direction: column;
        align-items: center;
    }
    #proyectos .fila .proyectos {
        margin-bottom: 40px;
        box-shadow: 2px 2px 5px #919191, -2px -2px 5px #919191;
    }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
    #proyectos .titulo-seccion {
        font-size: 2.3rem;
    }
    #proyectos .fila {
        flex-direction: column;
    }
    #proyectos .fila .proyectos {
        padding: 0;
        margin: 15px 5px;
        box-shadow: 5px 5px 5px #937efe;
    }
    #proyectos .fila .proyectos .redes {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* .carrousel {
    width: 80%;
    margin: auto;
    height: 500px;
    overflow: hidden;
}

.carrousel ul {
    padding: 0;
    display: flex;
    width: 300%;

    animation: carrousel 20s infinite alternate-reverse;
}

.carrousel li {
    width: 100%;
    list-style: none;
}

.carrousel li img {
    width: 100%;
}

.carrousel li img:hover {
    transition: none;
}

@keyframes carrousel {
    0% {margin-left: 0;}
    25% {margin-left: 0;}
    75% {margin-left: -100%;}
    100% {margin-left: -100%;}
} */