#tecnologias {
    padding: 100px 0;
    background-color: #42464826;
}

#tecnologias .titulo-tech {
    display: flex;
    justify-content: center;
    margin-block: 0 1rem;
    padding-block: 1rem;
}

#tecnologias .titulo-tech h2 {
    font-size: 3rem;
    font-weight: bold;
}

#tecnologias .imgs {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(4,4fr);
    margin-inline: auto;
    row-gap: 2rem;
    width: 75%;
    background-color: #ced6db;
    border-radius: 20px;
    padding: 4rem 4rem;
    box-shadow: 6px 6px 5px #565656, -5px -5px 7px #8a8a8a;
}

#tecnologias .imgs .imgs-tech {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: 500px;   
}

#tecnologias .imgs .imgs-tech img {
    width: 80px;
    height: 80px;
}

#tecnologias .imgs .imgs-tech:hover {
    transform: scale(1.2);
    transition: .5s;
}

#tecnologias .imgs .imgs-tech h3 {
    margin-block: 1rem;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: large;
}

@media screen and (max-width: 800px) {
    #tecnologias .imgs {
        grid-template-columns: repeat(3,4fr);
        padding: 25px;
    }
}


@media screen and (max-width: 425px) {
    #tecnologias .titulo-tech h2 {
        font-size: 2.3rem;
    }
    #tecnologias .imgs {
        width: 90%;
        grid-template-columns: repeat(2,2fr);
        padding: 0;
        padding-block: 2rem;
    }
    #tecnologias .imgs .imgs-tech img {
        width: 50px;
        height: 50px;
    }
}

