@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sofia+Sans+Semi+Condensed&display=swap");

#inicio {
  padding: 75px 0;
  background: #42464800;
}

.hero {
  max-width: 1300px;
  height: 80vh;
  margin: auto;
  color: #343844;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 10px;
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.hero .hero2 .fa-solid {
  font-size: 5.1rem;
  margin-bottom: 25px;
  margin-inline-start: 3rem;
}

.hero .hero2 h2 {
  font-size: 6rem;
  margin-bottom: 25px;
  text-align: center;
  width: 75%;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

.hero3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 1105px) {
  #inicio .hero .hero2 {
    flex-direction: column;
  }
  #inicio .hero .hero2 h2 {
    font-size: 6rem;
  }
  #inicio .hero .hero2 .fa-solid {
    font-size: 5rem;
    margin-bottom: 25px;
    margin-inline-start: 3rem;
  }
}

@media screen and (max-width: 800px) {
  #inicio .hero .hero2 {
    flex-direction: column;
  }
  #inicio .hero .hero2 .fa-solid {
    font-size: 3.5rem;
    margin-bottom: 25px;
    margin-inline-start: 0;
  }
  #inicio .hero .hero2 h2 {
    font-size: 4rem;
  }
  #inicio .hero .hero3 h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  #inicio .hero .hero2 {
    flex-direction: column;
  }
  #inicio .hero .hero2 .fa-solid {
    font-size: 2.5rem;
  }
  #inicio .hero .hero2 h2 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }
  #inicio .hero .hero3 h3 {
    text-align: center;
    font-size: 1.5rem;
  }
}