@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sofia+Sans+Semi+Condensed&display=swap');

section #inicio {
  padding: 50px 0;
}

.hero {
  max-width: 1100px;
  height: 80vh;
  margin: auto;
  color: #343844;
  display: flex;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 7rem;
}

.hero h2 {
  font-size: 7rem;
  margin-bottom: 25px;
  text-align: center;
  white-space: nowrap;
  border-right: 4px solid;
  width: 11ch;
  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent}
}
