#sobremi {
    max-width: 1300px;
    margin: auto;
    padding: 194px 15px;
    color: black;
    display: flex;
}

.contenedor-foto {
    max-width: 1000px;
    margin-right: 80px;
}

.contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #ced6db;
    box-shadow: 5px 5px 7px #937efe;
    height: 100%;
}

.sobreMi {
    margin: 0 40px;
    width: 100%;
}

.sobreMi .titulo-seccion {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.sobreMi h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;

}

.sobreMi p {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}




