#sobremi {
  max-width: 1300px;
  margin: auto;
  padding: 194px 15px;
  color: black;
  display: flex;
}

#sobremi .contenedor-foto {
  max-width: 1000px;
  margin-right: 80px;
}

#sobremi .contenedor-foto img {
  padding: 20px;
  width: 115%;
  border-radius: 20px;
  background-color: #ced6db;
  box-shadow: 5px 5px 7px #937efe;
  height: 100%;
}

#sobremi .sobreMi {
  margin: 0 40px;
  width: 100%;
}

#sobremi .sobreMi .titulo-seccion {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobremi .sobreMi h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobreMi h3 {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-evenly;
}

#sobremi .sobreMi p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  margin-inline: inherit;
}

#sobremi .btn-cv {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid #919191;
  border-radius: 50px;
  background: #F0F0F0;
}

#sobremi .btn-cv a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 20px 25px;
  margin-inline: auto;
}

#sobremi .btn-cv:hover {
  box-shadow: 2px 2px 5px #919191, -2px -2px 5px #919191;
}

#sobremi a:hover {
  color: #937efe;
}

/* RESPOSIVE NOTEBOOKS CHICAS */

@media screen and (max-width: 1280px) {
  #sobremi .contenedor-foto img {
    width: 115%;
    height: 100%;
    margin-inline-start: 50px;
  }
  #sobremi .sobreMi h2 {
    margin: 9px 0;
  }
  #sobremi .sobreMi h3 {
    font-size: 1.5rem;
  }
  #sobremi .sobreMi p {
    margin-inline: 60px;
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1105px) {
  #sobremi .contenedor-foto img {
    width: 115%;
    height: 99%;
    margin-inline-start: 50px;
  }
  #sobremi .sobreMi h2 {
    margin: 10px 0;
  }
  #sobremi .sobreMi h3 {
    font-size: 1.5rem;
  }
  #sobremi .sobreMi p {
    font-size: 1rem;
    margin-inline: 25px;
  }
}

/* RESPOSIVE NETBOOKS */

@media screen and (max-width: 1024px) {
  #sobremi {
    margin-inline: 30px;
    padding: 175px 0;
  }
  #sobremi .contenedor-foto img {
    width: 100%;
    height: 85%;
  }
  #sobremi .sobreMi h3 {
    font-size: 1.4rem;
  }
  #sobremi .sobreMi p {
    font-size: 0.9rem;
  }
  #sobremi .btn-cv a {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px) {
  #sobremi {
    padding: 100px 0;
    display: block;
  }
  #sobremi .contenedor-foto {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    height: 70%;
    padding: 8px;
    margin-inline-start: 0;
  }
  #sobremi .sobreMi {
    margin: 0
  }
  #sobremi .sobreMi .titulo-seccion {
    font-size: 1.6rem;
    text-align: center;
  }
  #sobremi .sobreMi h3 {
    font-size: 1rem;
  }
  #sobremi .sobreMi p {
    margin-inline: 0;
  }
}