#contacto {
    padding: 100px 15px;
    background-color: #42464826;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    padding-block: 1rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #111135;
    font-weight: bold;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form .fila input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .contenedor-form .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid #919191;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

#contacto .contenedor-form .btn-enviar:hover {
    box-shadow: 2px 2px 5px #919191, -2px -2px 5px #919191;
    color: #937efe;
}

#contacto .contenedor-form input::placeholder {
    font-size: 1rem;
    color: #000;
}

#contacto .contenedor-form textarea::placeholder {
    font-size: 1rem;
    color: #000;
}

/* RESPONSIVE NETBOOKS */

@media screen and (max-width: 800px) {
    #contacto {
        padding: 100px 15px
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}