#inicio-section {
  background: transparent;
  background-size: cover;
  background-position: center center;
  height: 11vh;
  background: #42464800;
}

.content header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.container_header {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  backdrop-filter: blur(6px);
  box-shadow: 2px 2px 11px black;
}

img {
  /* margin-inline: -240px 0; */
  width: 3.3rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav,
#links,
li,
a {
  color: #937efe;
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #000;
}

#icono-nav {
  color: #937efe;
  display: none;
}

.redes a {
  text-decoration: none;
  color: #937efe;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}

.redes a:hover {
  color: #000;
}

.fa-brands {
  font-size: xx-large;
}

/* RESPONSIVE */

@media screen and (max-width: 1105px) {
  .container_header {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 11px black;
  }
}

@media screen and (max-width: 1035px) {
  .container_header {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 11px black;
  }
}

/* RESPONSIVE TABLET IPAD */

@media screen and (max-width: 1024px) {
  .content header {
    background: transparent;
  }
  .redes {
    display: none;
  }
  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px 0;
    box-shadow: 0px 3px 3px #000;
    background: #000000bf;
  }
  nav.responsive, #links, li, a {
    margin: 0;
  }
  nav.responsive ul li a:hover{
    color: #fff;
  }
  nav.responsive ul {
    display: block;
    text-align: center;
    background: transparent;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  div.responsive {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    backdrop-filter: blur(5px);
  }
  #icono-nav {
    display: block;
    font-size: 2rem;
    color: #9481f5;
  }
}

@media screen and (max-width: 800px){
  nav.responsive ul li {
    margin-block: 20px;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .container_header {
    padding: 15px 35px
  }
}