#inicio-section {
  background: #e7ecef;
  background-size: cover;
  background-position: center center;
  height: 11vh;
}

.content header {
  background-color: #e7ecef;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.container_header {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
}

img {
  /* margin-inline: -240px 0; */
  width: 3.3rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav, #links, li, a{
  color: #937efe;
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}

nav ul li a:hover{
  color: #000;
}

#icono-nav {
  color: #937efe;
  display: none;
}

#redes a{
  text-decoration: none;
  color: #937efe;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}

#redes a:hover {
  color: #000;
}

.fa-brands {
  font-size: xx-large;
}









