footer {
  background-color: transparent !important;
  color: #937efe;
  text-align: center;
  padding-block: 20px 15px;
  box-shadow: 5px 0 5px #000;
  backdrop-filter: blur(5px);
}

footer p {
  font-size: 1.1rem;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #937efe;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

footer a:hover {
    color: #000;
}
