*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /*background: #e7ecef;*/
  background-image: url("./img/10412350_13087.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 62.5%;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 5px;
}
 
body::-webkit-scrollbar-thumb {
  background: #937efe;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}


